<p> Hello from {{ opsvar }} </p>
</br>

<b>Hostname : </b> {{ ansible_hostname }} </br>
<b>IP addresses :</b>
<ul>
  <li>public IP: {{ inventory_hostname }}</li>
  <li>private IP: {{ ansible_all_ipv4_addresses }}</li>
</ul>
</br>
<b> Operating System : </b> {{ ansible_distribution }} </br>
<b>RAM infomation :</b>
<ul>
  <li>Total : {{ ansible_memory_mb.real.total }} MB</li>
  <li>Used : {{ ansible_memory_mb.real.used }} MB</li>
  <li>free : {{ ansible_memory_mb.real.free }} MB </li>
</ul>
</br>

<b>Disk Information : </b>
<ul>
  <li>Total : {{ ansible_mounts[1].size_total }}</li>
  <li>Used : {{ ansible_mounts[1].size_available }}</li>
  <li>free : {{ ansible_mounts[1].size_total - ansible_mounts[1].size_available }}  </li>
</ul>
</br>

<b>Avaialble Network Devices :</b> {{ ansible_interfaces }}






